nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.25s;
}

nav h1 {
  /* opacity: 0.25; */
}

/* 36 = 20px top and bottom padding plus 16px font size */
nav input[type="checkbox"] + .hamburger + ul {
  position: absolute;
  z-index: 31;
  left: 0;
  top: calc(4 * -36px);
  transition: top 1s;
}

nav input[type="checkbox"] + .hamburger + ul li button {
  transition: background-color 0.25s, color 0.25s;
  background-color: #333;
  color: white;
}

nav input[type="checkbox"] + .hamburger + ul li button:hover {
  background-color: #999;
  color: black;
}

/* TRANSITIONS WHEN CHECKED  */
input[type="checkbox"]:checked + .hamburger + ul {
  top: 50px;
}

/* BACKGROUND CODE  */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: black;
  position: relative;
  height: 50px;
}

nav h1 {
  position: absolute;
  z-index: 34;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
}
nav input[type="checkbox"] {
  position: absolute;
  z-index: 36;
  cursor: pointer;
  right: 10px;
  width: 40px;
  height: 40px;
  opacity: 0;
}
nav .hamburger {
  position: absolute;
  z-index: 35;
  right: 10px;
  width: 40px;
}
nav .hamburger span {
  display: block;
  border-bottom: 3px solid white;
  margin-bottom: 4px;
}
nav .hamburger span {
  transition: transform 0.25;
}
nav .hamburger span:last-child {
  margin-bottom: 0;
}
nav input[type="checkbox"] + .hamburger + ul {
  width: 100vw;
}

nav input[type="checkbox"] + .hamburger + ul li button {
  display: block;
  text-align: left;
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
}

/* TRANSITIONS WHEN CHECKED  */
input[type="checkbox"]:checked + .hamburger span:first-child {
  transform: translate(0, 7px);
}
input[type="checkbox"]:checked + .hamburger span:last-child {
  transform: translate(0, -7px);
}
