div#ball {
	width: 100px;
	height: 100px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	position: relative;
	cursor: pointer;
	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 3s;
	animation-fill-mode: backwards;
}
div#ball:hover {
	animation-play-state: paused;
}
div#ball:hover::before {
	content: "paused!";
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
	
}