* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
div {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 75px;
	position: relative;
	z-index: 2;
}
svg {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
rect {
	display: block;
	position: relative;
	stroke:#000000;
	stroke-width:1;
}
svg g rect:nth-child(1) {
	height: 100vh;
	fill:#ff00ff;
	transform: translate(calc(100vw - 100px), 0);
	z-index: 10;
	animation-name: expand-horizontal;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	
}
svg g rect:nth-child(3) {
	width: 100vw;
	fill:#ffff00;
	animation-name: expand-vertical;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}
svg g rect:nth-child(4) {
	width: 100vw;
	fill:#ff2a2a;
	transform: translate(0, calc(100vh - 100px));
	animation-name: expand-vertical;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}
svg g rect:nth-child(2) {
	height: 100vh;
	fill:#00ff00;
	transform: translate(0, 0);
	animation-name: expand-horizontal;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

svg:nth-child(2) {
	transform: rotate(180deg);
	z-index: 0;
}


@keyframes expand-horizontal {
	0% {
		width: 100px;
	}
	25% {
		fill:rgba(0, 100, 0, 0.25);
	}
	50% {
		transform: translate(calc(100vw / 2), 0);
		width: calc(100vw / 2);
	}
	75% {
		fill:rgba(20, 100, 50, 0.25);
	}
	100% {
		width: 100px;
	}
	
}
@keyframes expand-horizontal {
	0% {
		width: 100px;
	}
	25% {
		fill:rgba(144, 5, 250, 0.5);
	}
	50% {
		transform: translate(calc(100vw / 2), 0);
		width: calc(100vw / 2);
	}
	75% {
		fill:rgba(5, 250, 246, 0.5);
	}
	100% {
		width: 100px;
	}
}

@keyframes expand-vertical {
	0% {
		height: 100px;
	}
	25% {
		fill:rgba(251, 152, 3, 0.5);
	}
	50% {
		transform: translate(0, calc(100vh / 2));
		fill:rgba(3, 251, 40, 0.25);
		height: calc(100vh / 2);
	}
	75% {
		fill:rgba(243, 251, 3, 0.5);
	}
	100% {
		height: 100px;
	}
}