:root {
  --nav-height: 50px;
  --tab-height: 50px;
  --aside-width: 150px;
  --transition-speed: 2s;
}

aside ul li button {
  position: relative;
  transition: background-color 0.5s, color 0.5s;
}

aside ul li button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #ff00ff;
  transition: left 2s, background-color 2s;
}

aside ul li button:hover {
  color: black;
  background-color: white;
}

aside ul li button:hover span {
  left: calc(100% - 5px);
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* SIDEBAR  */

aside {
  width: 300px;
  margin: 50px auto;
}

aside ul {
  list-style-type: none;
}

aside ul li button {
  width: 100%;
  border: none;
  background-color: black;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

aside ul li button span {
  height: 100%;
}
