footer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: right;
	
}
footer input[type='checkbox'] {
	cursor: pointer;
	height: 50px;
	width: 50px;
}
footer div {
	width: 100vw;
	height: 50px;
	border-top: 1px solid black;
}

footer > span > span {
	transform: rotate(180deg);
	font-size: var(--tab-height);
}