#div-with-hover-transition {
	position: relative;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	margin: 50px auto;
}

#div-with-hover-transition button {
	position: relative;
	z-index: 22;
	border-radius: 15px;
	border: 1px solid black;
	padding: 20px 30px;
	font-size: 24px;
	background-color: black;
	color: white;
	cursor: pointer;
	transition: background-color 1s, transform 0.25s;
}

.glow-background {
	position: absolute;
	opacity: 0;
	z-index: 21;
	width: 500px;
	height: 500px;
	background: radial-gradient(circle, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 75%, rgba(255,255,0,0) 100%);
	transition: opacity 1s;
}

#div-with-hover-transition button:hover {
	background-color: white;
	transform: scale(1.1);
	color: black;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

#div-with-hover-transition button:hover + .glow-background{
	transition-delay: 0.5s;
	opacity: 1;
}

#div-with-hover-transition button:active {
	transform: scale(0.9);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
}
#div-with-hover-transition button:active + .glow-background{
	display:none;
}

