aside {
	height: calc(100vh - 50px);
	width: 200px;
	background-color: black;
	border-top: 1px solid rgba(255,255,255,0.5)
}

aside ul li a {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	transition: background-color 0.5s, color 0.5s;
}

aside ul li a span {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	transition: left 0.5s, background-color 0.5s;
}

aside ul li a:hover {
	color: black;
	background-color: white;
}

aside ul li a:hover span {
	left: calc(100% - 5px);
	background-color: black;
}