svg {
	width: 500px;
	height: 500px;
	border:  1px solid black;
}

svg * {
	transform-box: fill-box;
}


#yellow-square rect {
	transform-origin: center;

	animation-name: fall;
	animation-duration: 2s;
	animation-timing-function: linear;
	/* animation-delay: 1s; */

	animation-iteration-count: infinite;
	
	/* 
	animation-iteration-count: 2;
	animation-direction: reverse;
	animation-fill-mode: both; 
	*/
	
}

svg:hover #yellow-square {
	animation-play-state: paused;
}


@keyframes fall {
	0% {
		transform: translate(250px,0) rotate(0) scale(1);
		fill: #fff200;
	}
	50% {
		transform: translate(250px,250px) rotate(180deg) scale(0.5);
		fill: orange;
	}
	100% {
		transform:translate(250px,500px) rotate(360deg) scale(1);
		fill: #fff200;
	}
}

@keyframes fall-new {
	0% {
		translate: 250px 0;
		rotate: 0;
	}
	50% {
		scale: 0.5;
	}
	100% {
		translate: 250px 500px;
		rotate: 360deg;
	}
}



.cls-1 {
	fill: #00aeef;
  }

  .cls-2 {
	fill: #fff200;
	stroke: #231f20;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6px;
  }
  